body {
    margin: 0px;
    background-color: #A6FFEE;
}
main {
    margin: 13px;
}
.note {
    background-color: #FFFFFF;
    margin: 13px;
    padding: 5px;
}
.note textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background: none;
    outline: none;
    resize: none;
    width: calc(100% - 100px);
    height: 1.1em;
}