body {
    background-color: #610000;
}
.note {
    background-color: #FF4D4D;
    color: #ED9F9F;
    display: inline-block;
    width: calc(100% - 13px - 100px - 50px); /* temp */
}
.onenote:first-child .note {
    color: #FFFFFF;
}