body {
    background-color: #610000;
}
.note {
    background-color: #FF4D4D;
    color: #ED9F9F;
    display: inline-block;
    width: calc(100% - 13px - 100px - 50px); /* temp */
}
.onenote:first-child .note {
    color: #FFFFFF;
}
.future {
  margin-top: 8px;
  text-align: center;
}
.future button {
  color: #FFFFFF;
  background-color: #FF4D4D;
  border: none;
  font-size: 21px;
  font-family: inherit;
  border-radius: 8px;
}