html {
  height: 100%;
}
body {
  height: 110%;
  margin: 0px;
  background-color: rgba(181, 218, 240, 1);
}
main {
}
.edit {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  display: none;
}
.edit.opened {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  display: inline-block;
}
.edit input[type="text"] {
  width: 100%;
  height: 34px;
  font-size: 34px;
  min-height: 34px;
  line-height: 34px;
  display: block;
}
.todo-style {
  padding: 21px;
}
.item {
  display: flex;
  align-items: center;
  font-size: 34px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
  padding: 13px;
  margin-bottom: 13px;
  transition:
    background-color 0.3s linear 0s,
    color 0.3s linear 0s;
}
.item.checked {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(133, 255, 124, 1);
  transition:
    background-color 0.3s linear 0s,
    color 0.3s linear 0s;
}
.item input {
  flex: 0 0 34px;
  width: 34px;
  height: 34px;
  margin-right: 13px;
}
.bubble {
  position: fixed;
  bottom: 34px;
  right: 34px;
  display: flex;
  align-items: center;
  gap: 34px;
}
.add {
  width: 89px;
  height: 89px;
  border-radius: 89px;
  border: none;
  background-color: rgba(248, 114, 140, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
  font-size: 55px;
  line-height: 55px;
}
.add.pressed {
  border-style: inset;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.right {
  width: 89px;
  height: 89px;
  border-radius: 89px;
  border: none;
  background-color: rgba(248, 114, 140, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
  font-size: 55px;
  line-height: 55px;
}
.left {
  width: 89px;
  height: 89px;
  border-radius: 89px;
  border: none;
  background-color: rgba(248, 114, 140, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
  font-size: 55px;
  line-height: 55px;
}
#clear {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 233px;
  width: 89px;
}
#clearButton {
  width: 89px;
  height: 89px;
  font-size: 21px;
  border: none;
  background-color: rgba(158, 159, 226, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.4);
}
.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 1);
  font-size: 55px;
  background-color: rgba(50, 75, 175, 1);

  display: none;
}
